In [48]:
import pandas as pd
from nbapy import game, shot_chart, player, scoreboard, team
import datetime

In [49]:
yesterday = (datetime.date.today() - datetime.timedelta(days=1)).strftime("%d-%m-%Y")

In [50]:
def datascrape(start):
    start = datetime.datetime.strptime(start, "%d-%m-%Y")
    #end = datetime.datetime.strptime("21-07-2014", "%d-%m-%Y")
    end = datetime.datetime.today()
    dates = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]
    df = pd.DataFrame({"date": dates})
    df["date"] = df["date"].astype(str)
    df[['Year', 'Month', "Day"]] = df["date"].str.split('-', 2, expand=True)
    df["Month"] = df["Month"].str.lstrip('0')
    df["Day"] = df["Day"].str.lstrip('0')
    
    #to limit to five
    #df = df.head()
    dates = []
    for i, row in df.iterrows():
        day = {}
        day["year"] = row["Year"]
        day["month"] = row["Month"]
        day["day"] = row["Day"]
        dates.append(day)
    
    init = pd.DataFrame({
    "GAME_DATE_EST_x": [],
    "GAME_ID": [],
    "TEAM_ABBREVIATION_x": [],
    "TEAM_ABBREVIATION_y": [],
    "PTS_x": [],
    "PTS_y": []
    })
    
    for date in dates:
        scores = scoreboard.Scoreboard(month=int(date["month"]), day=int(date["day"]), year=int(date["year"]), league_id='00', offset=0)
        df = scores.line_score()
        if df.empty:
            pass
        else:
            df_1 = df.drop_duplicates(subset=['GAME_ID'], keep='first')
            df_2 = df.drop_duplicates(subset=['GAME_ID'], keep='last')
            merged = df_1.merge(df_2, on=["GAME_ID"])                                                                              #FG_PCT	FT_PCT	FG3_PCT	AST	REB	TOV
            merge = merged[["GAME_DATE_EST_x", "GAME_ID", "TEAM_ABBREVIATION_x", "TEAM_ID_x", "TEAM_ID_y", "TEAM_ABBREVIATION_y", "PTS_x", "PTS_y", "FG_PCT_x", "FG_PCT_y", "FT_PCT_x", "FT_PCT_y", "FG3_PCT_x", "FG3_PCT_y", "AST_x", "AST_y", "REB_x", "REB_y", "TOV_x", "TOV_y"]]
            init = pd.concat([init, merge], sort=True)
    
    return init

In [51]:
df = datascrape("22-12-2020")

In [52]:
df["GAME_DATE_EST_x"] = df["GAME_DATE_EST_x"].str.replace("T00:00:00", "")

df = df[["GAME_DATE_EST_x",
        "GAME_ID",
        "TEAM_ABBREVIATION_x",
        "TEAM_ABBREVIATION_y",
        "PTS_x",
        "PTS_y"]]
df = df.rename(columns={"GAME_ID": "game_id", "GAME_DATE_EST_x": "date", "TEAM_ABBREVIATION_x": "home", 
                        "TEAM_ABBREVIATION_y": "away", "PTS_x": "home_pts", "PTS_y": "away_pts" })
df = df.reset_index()
df = df[["date", "game_id", "home", "away", "home_pts", "away_pts"]]

In [53]:
df = df.drop(df[df.game_id.str[:3] != "002"].index)
df

           date     game_id home away  home_pts  away_pts
0    2020-12-22  0022000001  GSW  BKN      99.0     125.0
1    2020-12-22  0022000002  LAC  LAL     116.0     109.0
2    2020-12-23  0022000010  CHA  CLE     114.0     121.0
3    2020-12-23  0022000011  NYK  IND     107.0     121.0
4    2020-12-23  0022000012  MIA  ORL     107.0     113.0
..          ...         ...  ...  ...       ...       ...
607  2021-03-19  0022000635  DET  HOU     113.0     100.0
608  2021-03-19  0022000636  GSW  MEM     116.0     103.0
609  2021-03-19  0022000637  CHI  DEN     127.0     131.0
610  2021-03-19  0022000638  MIN  PHX     101.0     113.0
611  2021-03-19  0022000639  DAL  POR     119.0     125.0

[611 rows x 6 columns]

In [8]:
# Import SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
# Get the username and password from config file
#from config import username, password

import requests
import os
import seaborn as sns
from psycopg2.extensions import register_adapter, AsIs

In [9]:
engine = create_engine('postgres://awajcqhq:4CfuU4ZPzBv5ax89ArRPL9P51juwwfQf@queenie.db.elephantsql.com:5432/awajcqhq')
conn = engine.connect()

In [11]:
df.to_sql(name='games', con=engine, if_exists='replace', index=False)

In [12]:
with engine.connect() as con:
    con.execute('ALTER TABLE games ADD PRIMARY KEY (game_id);')

In [13]:
conn.close()