In [1]:
import pandas as pd

In [4]:
future_games = pd.read_excel("../Resources/future_games.xlsx")
future_games

,Date,Unnamed: 1,Visitor/Neutral,Unnamed: 3,Home/Neutral
0,"Thu, Mar 25, 2021",NaN,Portland Trail Blazers,NaN,Miami Heat
1,"Thu, Mar 25, 2021",NaN,Washington Wizards,NaN,New York Knicks
2,"Thu, Mar 25, 2021",NaN,Los Angeles Clippers,NaN,San Antonio Spurs
3,"Thu, Mar 25, 2021",NaN,Philadelphia 76ers,NaN,Los Angeles Lakers
4,"Thu, Mar 25, 2021",NaN,Golden State Warriors,NaN,Sacramento Kings
...,...,...,...,...,...
199,"Wed, Mar 31, 2021",NaN,New York Knicks,NaN,Minnesota Timberwolves
200,"Wed, Mar 31, 2021",NaN,Toronto Raptors,NaN,Oklahoma City Thunder
201,"Wed, Mar 31, 2021",NaN,Sacramento Kings,NaN,San Antonio Spurs
202,"Wed, Mar 31, 2021",NaN,Milwaukee Bucks,NaN,Los Angeles Lakers
203,"Wed, Mar 31, 2021",NaN,Chicago Bulls,NaN,Phoenix Suns

In [6]:
team = pd.read_csv("../Resources/teams.csv")
team = team[["TEAM_ID","CITY"]]
team

       TEAM_ID                    CITY
0   1610612737           Atlanta Hawks
1   1610612738          Boston Celtics
2   1610612740    New Orleans Pelicans
3   1610612741           Chicago Bulls
4   1610612742        Dallas Mavericks
5   1610612743          Denver Nuggets
6   1610612745         Houston Rockets
7   1610612746    Los Angeles Clippers
8   1610612747      Los Angeles Lakers
9   1610612748              Miami Heat
10  1610612749         Milwaukee Bucks
11  1610612750  Minnesota Timberwolves
12  1610612751           Brooklyn Nets
13  1610612752         New York Knicks
14  1610612753           Orlando Magic
15  1610612754          Indiana Pacers
16  1610612755      Philadelphia 76ers
17  1610612756            Phoenix Suns
18  1610612757  Portland Trail Blazers
19  1610612758        Sacramento Kings
20  1610612759       San Antonio Spurs
21  1610612760   Oklahoma City Thunder
22  1610612761         Toronto Raptors
23  1610612762               Utah Jazz
24  1610612763       Memphis Grizzlies
25  1610612764      Washington Wizards
26  1610612765         Detroit Pistons
27  1610612766       Charlotte Hornets
28  1610612739     Cleveland Cavaliers
29  1610612744   Golden State Warriors

In [7]:
new_df = future_games.drop(columns=[
       'Unnamed: 1', 'Unnamed: 3',])
new_df.loc[new_df["Home/Neutral"]=="New York Knicks"]

                  Date       Visitor/Neutral     Home/Neutral
1    Thu, Mar 25, 2021    Washington Wizards  New York Knicks
32   Mon, Mar 29, 2021            Miami Heat  New York Knicks
63    Fri, Apr 2, 2021      Dallas Mavericks  New York Knicks
119   Fri, Apr 9, 2021     Memphis Grizzlies  New York Knicks
136  Sun, Apr 11, 2021       Toronto Raptors  New York Knicks
142  Mon, Apr 12, 2021    Los Angeles Lakers  New York Knicks
191  Sun, Apr 18, 2021  New Orleans Pelicans  New York Knicks

In [8]:
clean_df= new_df.rename(columns={'Visitor/Neutral':"CITY"})

In [9]:
merge = pd.merge(clean_df,team,on="CITY",how="inner")
merge

,Date,CITY,Home/Neutral,TEAM_ID
0,"Thu, Mar 25, 2021",Portland Trail Blazers,Miami Heat,1610612757
1,"Fri, Mar 26, 2021",Portland Trail Blazers,Orlando Magic,1610612757
2,"Sun, Mar 28, 2021",Portland Trail Blazers,Toronto Raptors,1610612757
3,"Wed, Mar 31, 2021",Portland Trail Blazers,Detroit Pistons,1610612757
4,"Tue, Apr 6, 2021",Portland Trail Blazers,Los Angeles Clippers,1610612757
...,...,...,...,...
199,"Fri, Apr 9, 2021",San Antonio Spurs,Denver Nuggets,1610612759
200,"Sun, Apr 11, 2021",San Antonio Spurs,Dallas Mavericks,1610612759
201,"Mon, Apr 12, 2021",San Antonio Spurs,Orlando Magic,1610612759
202,"Wed, Apr 14, 2021",San Antonio Spurs,Toronto Raptors,1610612759
203,"Sat, Apr 17, 2021",San Antonio Spurs,Phoenix Suns,1610612759

In [10]:
new = merge.rename(columns={"CITY":"Visitor","Home/Neutral":"CITY"})

In [11]:
merge2 = pd.merge(new,team,on="CITY",how="inner")
merge2

,Date,Visitor,CITY,TEAM_ID_x,TEAM_ID_y
0,"Thu, Mar 25, 2021",Portland Trail Blazers,Miami Heat,1610612757,1610612748
1,"Thu, Apr 1, 2021",Golden State Warriors,Miami Heat,1610612744,1610612748
2,"Sun, Apr 18, 2021",Brooklyn Nets,Miami Heat,1610612751,1610612748
3,"Tue, Apr 6, 2021",Memphis Grizzlies,Miami Heat,1610612763,1610612748
4,"Sat, Apr 3, 2021",Cleveland Cavaliers,Miami Heat,1610612739,1610612748
...,...,...,...,...,...
199,"Mon, Apr 12, 2021",Chicago Bulls,Memphis Grizzlies,1610612741,1610612763
200,"Wed, Apr 14, 2021",Dallas Mavericks,Memphis Grizzlies,1610612742,1610612763
201,"Fri, Apr 2, 2021",Minnesota Timberwolves,Memphis Grizzlies,1610612750,1610612763
202,"Wed, Mar 31, 2021",Utah Jazz,Memphis Grizzlies,1610612762,1610612763
203,"Wed, Mar 31, 2021",Utah Jazz,Memphis Grizzlies,1610612762,1610612763

In [12]:
clean_df =merge2[['Date','Visitor','TEAM_ID_y','CITY','TEAM_ID_x']]

In [13]:
clean_df

,Date,Visitor,TEAM_ID_y,CITY,TEAM_ID_x
0,"Thu, Mar 25, 2021",Portland Trail Blazers,1610612748,Miami Heat,1610612757
1,"Thu, Apr 1, 2021",Golden State Warriors,1610612748,Miami Heat,1610612744
2,"Sun, Apr 18, 2021",Brooklyn Nets,1610612748,Miami Heat,1610612751
3,"Tue, Apr 6, 2021",Memphis Grizzlies,1610612748,Miami Heat,1610612763
4,"Sat, Apr 3, 2021",Cleveland Cavaliers,1610612748,Miami Heat,1610612739
...,...,...,...,...,...
199,"Mon, Apr 12, 2021",Chicago Bulls,1610612763,Memphis Grizzlies,1610612741
200,"Wed, Apr 14, 2021",Dallas Mavericks,1610612763,Memphis Grizzlies,1610612742
201,"Fri, Apr 2, 2021",Minnesota Timberwolves,1610612763,Memphis Grizzlies,1610612750
202,"Wed, Mar 31, 2021",Utah Jazz,1610612763,Memphis Grizzlies,1610612762
203,"Wed, Mar 31, 2021",Utah Jazz,1610612763,Memphis Grizzlies,1610612762

In [14]:
clean_df.sort_values("Date",ascending=False)

,Date,Visitor,TEAM_ID_y,CITY,TEAM_ID_x
203,"Wed, Mar 31, 2021",Utah Jazz,1610612763,Memphis Grizzlies,1610612762
166,"Wed, Mar 31, 2021",New York Knicks,1610612750,Minnesota Timberwolves,1610612752
56,"Wed, Mar 31, 2021",Sacramento Kings,1610612759,San Antonio Spurs,1610612758
55,"Wed, Mar 31, 2021",Sacramento Kings,1610612759,San Antonio Spurs,1610612758
80,"Wed, Mar 31, 2021",Chicago Bulls,1610612756,Phoenix Suns,1610612741
...,...,...,...,...,...
146,"Fri, Apr 16, 2021",New York Knicks,1610612742,Dallas Mavericks,1610612752
17,"Fri, Apr 16, 2021",Orlando Magic,1610612761,Toronto Raptors,1610612753
158,"Fri, Apr 16, 2021",Memphis Grizzlies,1610612741,Chicago Bulls,1610612763
162,"Fri, Apr 16, 2021",Miami Heat,1610612750,Minnesota Timberwolves,1610612748
27,"Fri, Apr 16, 2021",Oklahoma City Thunder,1610612765,Detroit Pistons,1610612760

In [15]:
clean_df['Date'] = clean_df['Date'].astype('datetime64[ns]')

In [16]:
new_df= clean_df.sort_values("Date",ascending=True)

In [17]:
new_df= new_df[["Date","CITY","TEAM_ID_y","Visitor","TEAM_ID_x"]].reset_index()
new_df

,index,Date,CITY,TEAM_ID_y,Visitor,TEAM_ID_x
0,0,2021-03-25,Miami Heat,1610612748,Portland Trail Blazers,1610612757
1,87,2021-03-25,Sacramento Kings,1610612758,Golden State Warriors,1610612744
2,63,2021-03-25,New York Knicks,1610612752,Washington Wizards,1610612764
3,49,2021-03-25,San Antonio Spurs,1610612759,Los Angeles Clippers,1610612746
4,101,2021-03-25,Los Angeles Lakers,1610612747,Philadelphia 76ers,1610612755
...,...,...,...,...,...,...
199,67,2021-04-18,New York Knicks,1610612752,New Orleans Pelicans,1610612740
200,147,2021-04-18,Dallas Mavericks,1610612742,Sacramento Kings,1610612758
201,18,2021-04-18,Toronto Raptors,1610612761,Oklahoma City Thunder,1610612760
202,8,2021-04-18,Orlando Magic,1610612753,Houston Rockets,1610612745
203,57,2021-04-18,Charlotte Hornets,1610612766,Portland Trail Blazers,1610612757

In [18]:
new_df = new_df.drop(labels="index",axis=1)

In [19]:
new_df = new_df.rename(columns={"TEAM_ID_y":"Home_id","TEAM_ID_x":"Away_id","CITY":"Home","Visitor":"Away"})

In [20]:
new_df

,Date,Home,Home_id,Away,Away_id
0,2021-03-25,Miami Heat,1610612748,Portland Trail Blazers,1610612757
1,2021-03-25,Sacramento Kings,1610612758,Golden State Warriors,1610612744
2,2021-03-25,New York Knicks,1610612752,Washington Wizards,1610612764
3,2021-03-25,San Antonio Spurs,1610612759,Los Angeles Clippers,1610612746
4,2021-03-25,Los Angeles Lakers,1610612747,Philadelphia 76ers,1610612755
...,...,...,...,...,...
199,2021-04-18,New York Knicks,1610612752,New Orleans Pelicans,1610612740
200,2021-04-18,Dallas Mavericks,1610612742,Sacramento Kings,1610612758
201,2021-04-18,Toronto Raptors,1610612761,Oklahoma City Thunder,1610612760
202,2021-04-18,Orlando Magic,1610612753,Houston Rockets,1610612745
203,2021-04-18,Charlotte Hornets,1610612766,Portland Trail Blazers,1610612757

In [21]:
new_df.loc[new_df["Date"]== "2021-04-18"]

,Date,Home,Home_id,Away,Away_id
196,2021-04-18,Atlanta Hawks,1610612737,Indiana Pacers,1610612754
197,2021-04-18,Los Angeles Clippers,1610612746,Minnesota Timberwolves,1610612750
198,2021-04-18,Miami Heat,1610612748,Brooklyn Nets,1610612751
199,2021-04-18,New York Knicks,1610612752,New Orleans Pelicans,1610612740
200,2021-04-18,Dallas Mavericks,1610612742,Sacramento Kings,1610612758
201,2021-04-18,Toronto Raptors,1610612761,Oklahoma City Thunder,1610612760
202,2021-04-18,Orlando Magic,1610612753,Houston Rockets,1610612745
203,2021-04-18,Charlotte Hornets,1610612766,Portland Trail Blazers,1610612757